@import url("./utility.css");

/* Header  */
header{
    position: fixed;
    z-index: var(--z-index-header);  
    width: 100% ;
    min-width: var(--min-width-custom);
    height: var(--height-header);
    background-color: white;
    border-bottom: var(--border-main-stroke);
}
/* ---------- */

/* Header > Nav */
nav {
    position: relative; 
    width: var(--width-boxed-screen);
    height: var(--height-header);
    margin: auto;
}
.nav__left-side{
    float: left;
}

.site-logo{
    display: inline-block;
    vertical-align: middle;
} 

.site-logo__img{
    width: 141px;
    height: 45px;
    margin: auto;
}

.nav-list{
    list-style-type: none;
    margin-left: 50px;
    width: 745px;
    height: var(--height-header);
    display: inline-block;
    vertical-align: middle;
}
.nav-list__item{
    padding: 0px 10px;
    display: inline-block;
    line-height: var(--height-header);
    cursor: pointer;
}
.nav-list__item span{
    display: inline-block;
}
.nav__right-side{
    height: var(--height-header);
    float: right;
}

.nav__right-side :first-child{
    margin-right: 10px;
    line-height: var(--height-header);
    border-bottom: var(--border-main-stroke);
}
.nav__right-side > img{
    vertical-align: middle;
    margin: auto 5px;
}
/* ---------- */

/* Header > Nav menu > shop submenu */
.shop-menu{
    padding: 50px;
    position: absolute;
    top: calc(var(--height-header) + 50px);
    left: 0px;
    background-color: transparent; 
    visibility: hidden;
    opacity: 0;
    background-color: var(--color-primary-bg); ;
    cursor: default;
    transition: all 0.5s;
}
.nav-list__item:hover .menu__link{
    color: var(--color-link-hover);
}
.nav-list__item:hover .shop-menu {
    top: var(--height-header);
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}
.shop-menu__list{
    display: inline-block;
}
.shop-submenu__item{
    padding: 0px 20px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.shop-menu-image{
    vertical-align: top;
    height: 440px;
    margin-left: 70px;
    display: inline-block;
}
.deal-of-month{
    width: 55%;
    height: 150px;
    cursor: text;
    position: absolute;
    top: 70%;
    padding: 10px;
    border: var(--border-main-stroke) ;
    line-height: normal;
}
.deal-of-month--vertical-middle{
    vertical-align: middle;
}
.deal-of-month ::selection{
    background-color: var( --color-bg-selected-text);
    color: var(--color-selected-text);
}
.deal-of-month__details{
    display: inline-block;
    width: 45%;
}
.deal-of-month__title{
    margin: 10px 0px;
}
.deal-of-month__text{
    font-size: 13px;
    color: var(--color-secondery-text);
}
.deal-of-month__link{
    font-size: 13px;
    color: var(--color-primary-link);
    display: inline-block;
    padding-top: 10px;
    text-decoration: none;
}
.deal-of-month__timer{
    display: inline-block;
}
.deal-timer{
    color: var(--color-primary-text);
    font-size: 0.8em;
    text-align: center;
}
.deal-timer__days ,
.deal-timer__hours,
.deal-timer__minutes,
.deal-timer__seconds{
    display: inline-block;
    font-family: var(--font-family-title);
    margin-left: 20px;
    width: 50px;
    height: 50px;
}
.deal-timer__number{
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 60px;
    height: 60px;
    background-color:var(--color-secondery-bg);
}
/* ---------- */

/* Main */
main{
    padding-top: var(--height-header);
    clear: both;
    width: 100%;
}
/* ---------- */

/* Main > collection section */
.collection{
    display: flex;
    justify-content: center;
    height: 680px;
    min-width: var(--min-width-custom);
    background-color:rgba(255, 250, 243, 1);
}
.collection-details,
.collection-images{
    height: 100%;
    width: 50%;
    display: inline-block;
    border: unset;
    vertical-align: top;
}
.collection-details{ 
    position:relative ;
}
.collection-images{
    background-color: gray;
}
/* >>> */
.collection-box{
    padding-left: 20px;
    position: relative;
    font-family: var(--font-family-title);
    width: 90%;
    top: 60px;
    left: 50%;
    transform: translate(-50% );
    z-index: var(--z-index-collection);
}
.collection-box__title{
    width: fit-content;
    font-size: 2em;
    line-height: 1.4;
}
.collection-box__price-text{
    margin: 30px 0px 5px;
    font-size: 0.9em;
}
.collection-box__price-value{
    font-weight: 600;
    font-size: 2.3em;
}
.collection-buttons{
    margin-top:20px ;
    width: fit-content;
}
.collection-buttons__left-btn,
.collection-buttons__right-btn{
   display: inline-block;
   width: 169px; 
   height: 45px;
   border-radius: 10px ;
   background-color: yellow;
   border: 1px solid var(--color-button-border);
   text-align: center;
   line-height: 45px;
   font-size: 1em;
   cursor: pointer;
}
.collection-buttons__left-btn{
    margin-right: 2px;
    color: var(--color-button-text-dark);
    background-color: var(--color-button-bg-dark);
}
.collection-buttons__right-btn{
    color: var(--color-button-text-light);
    background-color: var(--color-button-bg-light);
    margin-left: 2px;
    transition: color var(--transition-delay-hover-link);
}
.collection-buttons__right-btn:hover{
    color: var(--color-button-text-dark);
    background-color: var(--color-button-bg-dark);
    transition: color var(--transition-delay-hover-link);
}
/* >>> */
.collection-season{
    margin-top:100px;
    /* background-color: red; */
    width: 100%;
}
.collection-season__image,
.collection-season__text{
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}
.collection-season__image{
    width: 90px;
    width: 90px;
}
.collection-season__text{
    /* background-color: rebeccapurple; */
    height: 90px;
    font-size: 1.3em;
}
.collection-season__text > span {
    display: block;
    font-size: 0.8em;
    margin-bottom: 10px;
}
/* >>> */
.collection-play{
    position: absolute;
    right: 20px;
    bottom: 25% ;
    width: 100px;
    height: 100px;
    color: var(--color-button-play) ;
    background-color: red;
}
/* .collection__play-text{ } */
/* .collection__play-btn{ } */
/* >>> */
.collection-small-star{
    position: absolute;
    top: 25px;
    right: 5%;
    width: 50px;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
}
/* ---------- */

/* Main > featured categories*/
.featured-categories{
    height: 394px;
    background-color: rgba(254, 235, 157, 1)
}
.featured-categories .white-curve{
    margin-left: 50px;
}
/* ---------- */

/* Footer */
footer{
    background-color: aqua;
}
/* ---------- */


