@import url("./utility.css");

/* Header  */
header{
    position: fixed;
    width: 100% ;
    min-width: var(--min-width-custom);
    height: var(--height-header);
    background-color: white;
    border-bottom: var(--border-main-stroke);
}
/* ---------- */

/* Header > Nav */
nav {
    position: relative; 
    width: var(--width-boxed-screen);
    height: var(--height-header);
    margin: auto;
}
.nav__left-side{
    float: left;
}

.site-logo{
    display: inline-block;
    vertical-align: middle;
} 

.site-logo__img{
    width: 141px;
    height: 45px;
    margin: auto;
}

.nav-list{
    list-style-type: none;
    margin-left: 50px;
    width: 745px;
    height: var(--height-header);
    display: inline-block;
    vertical-align: middle;
}
.nav-list__item{
    padding: 0px 10px;
    display: inline-block;
    line-height: var(--height-header);
    cursor: pointer;
}
.nav-list__item span{
    display: inline-block;
}
.nav__right-side{
    height: var(--height-header);
    float: right;
}

.nav__right-side :first-child{
    margin-right: 10px;
    line-height: var(--height-header);
    border-bottom: var(--border-main-stroke);
}
.nav__right-side > img{
    vertical-align: middle;
    margin: auto 5px;
}
/* ---------- */

/* Header > Nav menu > shop submenu */
.shop-menu{
    cursor: default;
    position: absolute;
    top: calc(var(--height-header) + 50px);
    left: 0px;
    background-color: transparent; 
    visibility: hidden;
    opacity: 0;
    padding: 30px;
    background-color: red;
    transition: all 0.5s;
}
.nav-list__item:hover .shop-menu {
    top: var(--height-header);
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}
.shop-submenu__item{
    padding: 0px 20px;
    list-style: none;
    display: inline-block;
}
/* ---------- */

/* Main */
main{
    padding-top: var(--height-header);
    clear: both;
    width: 100%;
}
/* ---------- */

/* Main > collection section */
.collections{
    height: 858px;
    text-align: center;
    background-color:rgba(255, 250, 243, 1);
}
/* ---------- */

/* Main > featured categories*/
.featured-categories{
    height: 394px;
    background-color: rgba(254, 235, 157, 1)
}
.featured-categories .white-curve{
    margin-left: 50px;
}
/* ---------- */

/* Footer */
footer{
    background-color: aqua;
}
/* ---------- */


