/* Ordring convention : 
*   1. positioning
*   2. box-model
*   3. typography
*   4. visual
*   5. animation
*   6. miscellanous
*/
@import url("./utility.css");

/* Header  */
header{
    width: 100% ;
    min-width: 1300px;
    height: var(--height-header);
    border-bottom: var(--border-main-stroke);
}
/* ------------ */

/* Header > Nav */
nav {
    width: var(--width-boxed-screen);
    height: var(--height-header);
    margin: auto;
}
.nav-left-side{
    float: left;
}
.nav-left-side > div{
    display: inline;
    height: var(--height-header);
    line-height: var(--height-header);
}
.site-logo{
    display: inline-block;
    vertical-align: middle;
} 
.nav-links{
    margin-left: 70px;
}
.nav-links > div{
    display: inline-block;
    padding: 0px 5px;
}
.nav-links > div > a {
    font-size: 1em;
    color: var(--color-primary-text) ; 
}
.nav-links > div > img {
    width: 12px;
    height: 12px;
}
.nav-right-side{
    height: var(--height-header);
    float: right;
    line-height: var(--height-header);
}
.nav-right-side > img{
    margin: auto 5px;
    vertical-align: middle;
}
/* ------------ */

/* Main */
main{
    width: 100%;
}
/* ------------ */

/* Main > collection section */
.collections{
    height: 865px;
    background-color:rgba(255, 250, 243, 1);
}
/* ------------ */

/* Footer */
footer{
    background-color: aqua;
}
/* ------------ */


