*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}

:root{
    --height-header: 81px;
    --width-boxed-screen: 90%;
    --min-width-custom: 1380px;
    --min-width-hd: 1280px;
    --min-width-fhd: 1920px;

    --border-main-stroke : 1px solid  rgba(0, 0, 0, 0.1);

    /* --color-primary : red;
    --color-secondry: red; */
    --color-primary-text:black;
    /* --color-secondery-text:red; */
    --color-links-hover: #CC0D39;
    

}

