*{
    margin: 0px;
    padding: 0px ;
    box-sizing: border-box;
}

:root{
    --height-header: 81px;
    --width-boxed-screen: 90%;
    --min-width-custom: 1380px;
    --min-width-hd: 1280px;
    --min-width-fhd: 1920px;

    --border-main-stroke : 1px solid  rgba(0, 0, 0, 0.1);

    --color-primary-text:black;
    --color-secondery-text:#5e626f;
    --color-primary-link:#5e626f;
    --color-link-hover: #CC0D39;
    --color-primary-bg: white; 
    --color-secondery-bg: #eee;
    --color-bg-selected-text: #CC0D39;
    --color-selected-text: white;
    --transition-delay-hover-menu: 0.3s;
    --transition-delay-hover-link: 0.7s;
    
	--font-family-title: Lufga, sans-serif;
	--font-family-base: DM Sans, sans-serif;
}

